body{
    background-size: cover;
}

.header{
font-size: 30px;
}

.link{
background-color: white;
border-radius: 10px;
width: 250px;
font-size: large;
}

.link:hover{
    font-size: 25px;
}